.card__like-btn {
  width: 22px;
  height: 20px;
  padding: 0;
  margin: 0 1px 0;
  background-image: url(../../../images/card_like_btn.svg);
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .42s ease-in-out;
}

.card__like-btn:hover {
  opacity: .42;
  transform: scale(1.3);
}