.header__link-login {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  transition: opacity .42s ease;
  cursor: pointer;
  text-decoration: none;
  color: #A9A9A9;
}



.header__link-login:hover {
  opacity: .6;
}