.pop-up {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, .84);
  transition: all .42s ease-in-out;
}