.pop-up__form-input-error {
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
  display: block;
  margin: 0 8.3%;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}